<p id="notice"><%= notice %></p>

<h1>Instagram</h1>

<% if @posts.any? %>
  <% @posts.each do |post| %>
    <p><%= link_to post.title, post_path(post) %></p>
    <p><%= image_tag post.image.url %></p>
    <%= link_to 'Edit', edit_post_path(post) %>
    <%= link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>
<% else %>
  <h2>No posts uploaded yet</h2>
<% end %>

<br></br>

<%= link_to 'New Post', new_post_path %>
